.no-support-message { display:none; }
.impress-not-supported .no-support-message { display:block; }

body { background:#FEFEFE; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color:#333; }
.step { width:100vw; margin:0 auto 2vh auto; text-align:center; -webkit-transition: .5s ease-in-out; -moz-transition: .3s ease-in-out; -ms-transition: .3s ease-in-out; -o-transition: .5s ease-in-out; transition: .3s ease-in-out; }

.past { opacity: 0.3; } /* viewed steps are 30% by default */
.future { opacity: 0; } /* future steps are hidden by default */

.hide { opacity: 0; } /* always hidden unless active */
.casper { opacity: 0.2; } /* always ghostly, unless active */
.eternal { opacity: 1; } /* always visible, no matter what */

.active { opacity: 1; } /* active step should always be visible */

h1 { font-size: 10vh; }
p { font-size: 5vh; }

.haze { background: rgba(254,254,254,.95); padding: 20px; }
.cover { background: rgba(254,254,254,1); height: 100%; }

.super { font-size: 12vh; }
.large { font-size: 8vh; }
.medium { font-size: 3vh; }
.small { font-size: 2vh; }

.shrink, .grow { display: inline-block; -webkit-transition: 1s ease-in-out; -moz-transition: 1s ease-in-out; -ms-transition: 1s ease-in-out; -o-transition: 1s ease-in-out; transition: 1s ease-in-out; }
.grow { width: 40vh; }
.present .shrink { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); }
.present .grow {-webkit-transform: scale(2.5); -moz-transform: scale(2.5); -ms-transform: scale(2.5); -o-transform: scale(2.5); transform: scale(2.5); }

.step .hint { margin-top: -20vh; opacity:0; display: inline-block; position: fixed; left: 0; right: 0; background: rgba(0,0,0,0.2); color: white; padding: 35px; -webkit-transition: opacity .75s ease-in-out; -moz-transition: opacity 1s ease-in-out; -ms-transition: opacity 1s ease-in-out; -o-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out; -webkit-transition-delay: .2s; -moz-transition-delay: .2s; -o-transition-delay: .2s; transition-delay: .2s; }
.loaded .step.active .hint { opacity:1; }

.left { text-align: left; }
.right { text-align: right; }
.signature { margin-left: 25vw; font-family: 'Rock Salt', cursive; }

.PushCenter { width: 33vw; margin-left: auto; margin-right: auto; }
.work { width: 30vw; margin-left: auto; margin-right: auto; }
.selfie { width: 25vw; margin-left: 60vw; opacity: .7; margin-top: -20vh }

li { margin-bottom: 3vh; }

.accent5,a { color: #db9784; }
.accent4 { color: #746f6c; }
.accent3 { color: #f0e176; }
.accent2 { color: #21a0b4; }
.accent1 { color: #5D030A; }

.match { display: none; }
#match1 { display: block; }

#progress { position: absolute; bottom: 0; left: 0; width: 100%; height: 20px; background: rgba(254,254,254,254.2); box-shadow: 0 2px 6px rgba(0,0,0,0.2); z-index: 999; }

#progress-bar { width: 0; height: 100%; background: #CCC; }

input[type="checkbox"] { zoom: 200%; margin-left: 1vw; margin-right: 2vw; }
input[type="button"] { zoom: 300%; color: #f0e176; background: #FFF; border: solid 1px #DDD; border-radius: 5px; }