.no-support-message { display:none; }
.impress-not-supported .no-support-message { display:block; }

body { background:#FEFEFE; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color:#333; }
.step { width:100vw; margin:0 auto 2vh auto; text-align:center; -webkit-transition: .5s ease-in-out; -moz-transition: .3s ease-in-out; -ms-transition: .3s ease-in-out; -o-transition: .5s ease-in-out; transition: .3s ease-in-out; }
 }

.hide { opacity: 0; }
.eternal { opacity: 1; }
.active { opacity: 1; }
.future { opacity: 0; }
.future.eternal { opacity: 1; }
.past { opacity: 0.3; }
.past.eternal { opacity: 1; }
.keep { opacity: 1; }
.past.hide { opacity: 0; }

h1 { font-size: 10vh; }
p { font-size: 5vh; }
.super { font-size: 12vh; }
.large { font-size: 8vh; }
.medium { font-size: 3vh; }
.small { font-size: 2vh; }

.left { text-align: left; }
.right { text-align: right; }
.signature { margin-left: 25vw; font-family: 'Rock Salt', cursive; }

.PushCenter { width: 33vw; margin-left: auto; margin-right: auto; }
.work { width: 30vw; margin-left: auto; margin-right: auto; }
.selfie { width: 20vw; margin-left: 60vw }

li { margin-bottom: 3vh; }

.accent1 { color: #5D030A; }
.accent2 { color: #21a0b4; }
.accent3 { color: #f0e176; }
.accent4 { color: #746f6c; }
.accent5,a { color: #db9784; }

input[type="checkbox"] { transform: scale(2, 2); margin-left: 3vw; margin-right: 5vw;}
input[type="submit"] { transform: scale(3, 3); color: #f0e176; }
